[Desktop Entry]
Encoding=UTF-8
Name=ALSA Modular Synth
Comment=Modular soft syntheziter
Comment[pl]=Programowy syntezator modularny
Exec=ams --presetpath=/usr/share/ams
Terminal=false
Type=Application
Categories=Qt;Audio;
# vi: encoding=utf-8
